<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Neighborhood Stat</a>
    </div>
    <%= form_tag neighborhood_index_path, method: :get, class: 'navbar-form navbar-right', role: 'search' do %>
      <div class="form-group">
        <input name='search' type='text' class='form-control' placeholder='Find by Neighborhood or Address'/>
      </div>
    <% end %>
  </div>
</nav>
<div class="container">
  <h1 class="neighborhood-title">Quality Hill</h1>
  <ul class="nav nav-tabs neighborhood-nav">
    <li role="presentation" class="active"><a href="#">Crime</a></li>
    <li><a href="#">Demographics</a></li>
    <li><a href="#">Development</a></li>
    <li><a href="#">Housing</a></li>
    <li><a href="#">Vacancies</a></li>
  </ul>
  <nav class="navbar navbar-default sub-data-nav">
    <ul class="navbar-nav nav">
      <li role="presentation" class="active"><a href="#">Crime</a></li>
      <li><a href="#">Property Value</a></li>
      <li><a href="#">Building Permits</a></li>
      <li><a href="#">Zoning</a></li>
    </ul>
  </nav>
  <div class="content-display">
    <div class="toolbar">
      <form>
        <%= date_field(:crime, :start) %>
        <%= date_field(:crime, :end) %>
        <div class="btn-group">
          <%= link_to '#', class: 'btn btn-default' do %>
            <span class="fa fa fa-map-marker"></span>
          <% end %>
          <%= link_to '#', class: 'btn btn-default' do %>
            <span class="fa fa fa-fire"></span>
          <% end %>
        </div>
      </form>
    </div>
    <div class="statictics-panel"></div>
    <div id='neighborhood-map'></div>
  </div>
</div>
<script>
  $(document).ready(function() {
    L.mapbox.accessToken = 'pk.eyJ1IjoiemFjaGZsYW5kZXJzIiwiYSI6Im5PQWUydWMifQ.K3IgstPvVhP6ZDoXsKNzJQ';

    var map = L.mapbox.map('neighborhood-map', 'mapbox.light').setView(
      [
        <%= @neighborhood.coordinates.first.longtitude%>,
        <%= @neighborhood.coordinates.first.latitude%>
      ],
    14);

    var latitudeLines = <%= @neighborhood.coordinates.map { |coord| [coord.longtitude, coord.latitude] }.to_json %>;

    var polylineOptions = {
      color: '#000',
      fillColor: '#000',
      fillOpacity: 0.1
    };

    L.polyline(latitudeLines, polylineOptions).addTo(map);

    console.log(JSON.parse('<%= @neighborhood.crime_data.map_coordinates.to_json.html_safe %>'));

    // Crime markers
    L.mapbox.featureLayer().setGeoJSON(
      JSON.parse('<%= @neighborhood.crime_data.map_coordinates.to_json.html_safe %>')
    ).addTo(map);
  });
</script>