<div class="container">
  <section class="neighborhood-navigation col-md-3">
    <ul>
      <li class="active"><a href='#'>Home</a></li>
      <li><a href='#'>About</a></li>
      <li><a href='#'>Neighborhood Map</a></li>
      <li><a href='#'></a></li>
    </ul>
  </section>
  <section class="neighborhood col-md-9">
    <h1>Dashboard for <%= @neighborhood.name %></h1>
    <h2 style="text-align: center; font-size: large;">Yearly 311 Report Count</h2>
    <canvas id="myChart" width="650" height="400"></canvas>
    <!-- <div id='map' style="width: 100%; min-height: 400px;"></div> -->
    <div class="map-container" style="position: relative; width: 100%; min-height: 500px;">
      <div id='map' style="position: absolute; width:100%; height: 100%; top: 0; left: 0;"></div>
    </div>
  </section>
  <script>
    $(document).ready(function() {
      var data = {
        labels: <%= @neighborhood.three_eleven_data.map { |key,value| key.to_i }.to_json %>,
        datasets: [
          {
              label: "Yearly 311 Report Counts",
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              data: <%= @neighborhood.three_eleven_data.map { |key,value| value }.to_json %>
          }
        ]
      };

      var ctx = document.getElementById("myChart").getContext("2d");
      var myNewChart = new Chart(ctx).Line(data);
      
      L.mapbox.accessToken = 'pk.eyJ1IjoiemFjaGZsYW5kZXJzIiwiYSI6Im5PQWUydWMifQ.K3IgstPvVhP6ZDoXsKNzJQ';
      var map = L.mapbox.map('map', 'mapbox.light').setView(
        [
          <%= @neighborhood.coordinates.first.longtitude%>,
          <%= @neighborhood.coordinates.first.latitude%>
        ], 
      16);

      var latitudeLines = <%= @neighborhood.coordinates.map { |coord| [coord.longtitude, coord.latitude] }.to_json %>;
      var polylineOptions = {
        color: '#000',
        fillColor: '#000',
        fillOpacity: 0.1
      };

      L.polyline(latitudeLines, polylineOptions).addTo(map);
    });

  </script>
</div>
