<nav class="navbar navbar-inverse navbar-static-top" style='border-bottom:0px;'>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style='color:#ffffff;'><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;NeighborStat</a>
    </div>
  </div>
</nav>
<div class="container">
  <section class="neighborhood-navigation col-md-3">
    <ul>
      <li class="active"><a href='#'>Home</a></li>
      <li><a href='#'>About</a></li>
      <li><a href='#'>Neighborhood Map</a></li>
      <li><a href='#'></a></li>
    </ul>
    <div id='map' style="width:100%; min-height: 400px;"></div>
  </section>
  <section class="neighborhood col-md-9">
    <h1>Dashboard for <%= @neighborhood.name %></h1>
    <h2 class="chart-header">Neighborhood Trends</h2>
    <div id="trending-data-graph" class="trending-graph">
      <canvas></canvas>
      <p class="graph-help">Click on the datasets to add them to the chart</p>
      <ul class="graph-legend">
        <li data-title="311 Reports" data-dataset-id="1" data-url=<%= neighborhood_trending_crime_path(@neighborhood) %>>
          <span class="data-color" style="background-color: #E89B11;"></span> 311 Reports
        </li>
        <li data-title="Trending Crime" data-dataset-id="2" data-url=<%= neighborhood_trending_three_eleven_path(@neighborhood) %>>
          <span class="data-color" style="background-color: #BA321A;"></span> Trending Crime
        </li>
      </ul>
    </div>
    </section>
  </section>
  <script>
    $(document).ready(function() {
      L.mapbox.accessToken = 'pk.eyJ1IjoiemFjaGZsYW5kZXJzIiwiYSI6Im5PQWUydWMifQ.K3IgstPvVhP6ZDoXsKNzJQ';
      var map = L.mapbox.map('map', 'mapbox.light').setView(
        [
          <%= @neighborhood.coordinates.first.longtitude%>,
          <%= @neighborhood.coordinates.first.latitude%>
        ], 
      14);

      var latitudeLines = <%= @neighborhood.coordinates.map { |coord| [coord.longtitude, coord.latitude] }.to_json %>;
      var polylineOptions = {
        color: '#000',
        fillColor: '#000',
        fillOpacity: 0.1
      };

      L.polyline(latitudeLines, polylineOptions).addTo(map);
    });

  </script>
</div>
