<!DOCTYPE html>
<html>
  <head>
    <title>NeighborhoodDashboard</title>
    <base href="/" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCvmxpgAeNj2rYwL54kqzkGSrvAvapNt4A">
    </script>
    <script text="javascript">
      var imagePaths = {
        QUALITY_HILL: "<%= asset_url('quality_hill.jpg') %>",
        UNION_STATION: "<%= asset_url('union_station.jpg') %>"
      };
    </script>
  </head>
  <body ng-app="neighborhoodstat">
    <div class="application-wrapper">
      <ui-view></ui-view>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
